body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box
}
header,footer{
    background-color:black;
    color:white;
    text-align: center;
    padding:1rem;
}
.Team-Container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;

}
.card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
.card{
    background-color:#f9f9f9;
    width: 200px;
 text-align: center;
 padding: 20px;
 border-radius: 12px;
 box-shadow: 0 4px 6px blueviolet; 
 transition: transform .5s ease;  
}
.card:hover{
   /* transform: translate(-10px,-10px);*/
   transform: scale(-3,+3);
}

