body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6em;
}

header{
    display: flex;
    background-color: rgb(0, 38, 92);
    color: white;
    justify-content: space-between;
}
.nav ul li{
    list-style: none;
}
.nav ul{
    display: flex;
    gap: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.title{
    padding-left: 50px;
}
.nav{
    padding-right: 50px;
    padding-top: 5px;
}

.sec1{
    display: flex;
    background-color: rgb(167, 189, 224);
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    gap: 20px;
    flex-wrap: wrap;
}

.right img{
    width: 400px;
    height: auto;
}

.left h1{
    font-size: 32px;
    margin-bottom: 16px;
    
}

.left h1{
    margin-bottom: 30px;
}

.left button{
    border-radius: 10px;
    background-color: rgb(47, 108, 251);
    color: white;
    width: 120px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
}
.left button:hover{
    background-color: blue;
}
.features{
    display: flex;
    padding: 40px,20px;
    justify-content: space-around;
  background-color: rgb(222, 226, 234);
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  text-align: center;
    
}
.feature{
    flex: 1 1 250px;
    background-color: rgb(100, 112, 132);
    padding: 40px,20px;
    border-radius: 30px ;
}
.product-gallery{
    background-color: rgb(99, 163, 30);
    padding: 40px,20px;
    text-align: center;
}
.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;

}
.product-card{
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
    box-shadow: darkblue;
    transition: 0.3s;
}
.product-card:hover{
 transform: scale(1.1,1.1);
}
.footer-content{
    background-color: rgb(0, 38, 92);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 17px;
}
.social-links a{
    text-decoration: none;
    color: rgb(0, 225, 255);
}
form{
    flex-direction: column;
    gap: 10px;
    width: 1200px;
    margin: 0 auto;
}
form input[type="email"],
form textarea {
    width: 500px;
    padding: 14px 12px;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 10px;
}
form button {
    width: 201px;
    padding: 14px 12px;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(47, 108, 251);
    color: white;
    height: auto;
    border: none;
    cursor: pointer;
}